@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

p{
    font-weight: 300;
    color: #111;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/Images/TEDU-ACADEMY-BANNER-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    /* box-shadow: -1px 6px 14px 0px rgba(0,0,0,0.75); */
}

.banner .content{
    max-width: 1000px;
    text-align: center;
}

.banner .content img{
    width: 700px;
    height: 180px;
}

/* .banner .content h2 span{
    color: #ff0157;
} */

.banner .content p{
    font-size: 20px;
    font-weight: 500;
    color: #fff;

}


.btn2{
    font-size: 1em;
    color:#fff;
    background: #f49231;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: .3s;
    box-shadow: 7px 6px 14px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}

.btn2:hover{
    transform: scale(1.07);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
}


header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(189, 39, 39, 0.05);
}

header .logo{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    border: 2px solid #f49231;
    border-radius: 8px;
    padding: 4px 4px;
}

header.sticky .logo{
    color:#111
}

header .logo span{
    color: #f49231;
}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
    margin-left: 30px;
}

header .navigation li a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

header.sticky .navigation li a{
    color: #111;
}

header .navigation li a:hover{
    color: #f49231;
    font-weight: 500;
}

section{
    padding: 100px;
}

.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50{
    position: relative;
    width: 48%;
}

.titleText{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}

.titleText span{
    color: #f49231;
    font-weight: 700;
    font-size: 1.5em;
}


.row .col50 .imgBx{
    position: relative;
    width: 100%;
    /*min-height: 300px;*/
    height: 100%;
    /*box-shadow: 7px 4px 10px 0px rgba(0,0,0,0.75)*/;
}

.row .col50 .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.academy {
    padding: 50px;
}

.academy .recommended-courses{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    padding-top: 20px 20px;
    font-size: 2.5em;
    font-weight: 500;
}

.academy .content{
    font-weight: 200;display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2   0px;
}

.academy .content .box {
    width: 380px;
    height: 580px;
    margin: 20px;
    border: 15px solid #fff;
    /*box-shadow: 0px 5px 35px rgba(0,0,0,0.08);*/
    transition: .3s;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
}

.academy .content .box:hover{
    transform: scale(1.1);
}

.academy .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;
}

.academy .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.academy .content .box .text{
    padding: 15px 0 5px;
}

.academy .content .box .text h3{
    font-weight: 400;
    color: #111;
    text-align: center;
}


.educate__list,
.card__list{
    margin-left: 30px;
}
/*=============FOOTER STYLE=============*/
footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.9);

}

.footer_div{
    position: relative;
    width: 100%;
    background: #fff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer_div .social_icon,
.footer_div .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.footer_div .social_icon li,
.footer_div .menu li{
    list-style: none;
}

.footer_div .social_icon li i{
    font-size: 2.5em;
    color: #111;
    margin: 0 10px;
    display: inline-block;
    transition: .3s;
}

.footer_div .social_icon li i:hover{
    transform: translateY(-10px);
    color: #f49231;
}

.footer_div .menu li a{
    font-size: 1em;
    color:#111;
    margin: 0 10px;
    display: inline-block;
    transition: .5s;
    text-decoration: none;
    opacity: 0.75;
    line-height: 2.5em;
}

.footer_div .menu li a i{
    font-size: 2em;
    color: #111;
    margin: 0 10px;
    display: inline-block;
    transition: .3s;
}

.footer_div .menu li a:hover{
    opacity: 1;
    transform: translateY(-10px);
    color: #f49231;
}

.footer_div .menu li a i:hover{
    transform: translateY(-10px);
    color: #f49231;
}

footer .footer_div p{
    color: #111;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 15px;
}

footer .terminos{
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

/*========= WHATSAPP BUTTON =======*/
.wsp-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
}

.btn_wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    box-shadow: -1px 6px 14px 0px rgba(0,0,0,0.75);
    transition: .3s;
}

.btn_wsp:hover{
    background:#fff;
    color: #0df053;
    transform: translateY(-10px);
}

/*=======================MEDIA QUERIES=======================*/

/*  @media (max-width: 375px){
    
    .academy .content .box {
        height: 400px;  
    }
} */

@media (max-width: 991px){
    header,
    header.sticky{
        padding: 10px 20px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li{
        margin-left: 0;
    }
    header .navigation li a{
        color: #111;
        font-size: 1.6em;
    }
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(/Images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active{
        background: url(/Images/close.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .menuToggle{
        filter: invert(1);
    }
    section {
        padding: 20px;
    }

    .banner{
        background-position: center;
    }
    .banner .content h2{
        font-size: 3em;
        color: #fff;
    }
    .row{
        flex-direction: column;
    }
    .row .col50{
        position: relative;
        width: 100%;
    }
    .row .col50 .imgBx{
        height: 300px;
        margin-top: 20px;
    }

    .products{
        background-position: center;
    }
    .products .content{
        margin-top: 20px;
    }
    .products .content .box{
        margin: 10px;
    }
    .products .content .box .imgBx{
        height: 260px;
    }
    .title{
        text-align: center;
    }

    .banner .content img{
        width: 330px;
        height: 100px;
    }

    .academy{
        padding: 5px;
    }
    .academy .content .box {
        height: 660px;  
    }
}

@media (max-width: 1920px){
    .row .col50 .imgBx{
        height: 400px;
        width: 100%;
        margin-top: 20px;
    }
}
