@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    z-index: 10000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: .5s;
	background: #e12a4c;
}


header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(189, 39, 39, 0.05);
}

header .logo{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 4px 4px;
    border-radius: 8px;
}

header.sticky .logo{
    color:#111;
	border: 2px solid #111;
}

header .logo span{
    color: #e12a4c;
}

.validation__container{
    margin: 80px 150px;
}

.subscribtion__validation h2,
.subscribtion__validation h3{
    text-align: center;
}

.step__list{
    margin-left: 50px;
}

.step__list li a{
    background: #e12a4c;
    color: #fff;
    padding: 2px 10px;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #111;
    cursor: pointer;
    transition: .3s;
    box-shadow: 2px 5px 14px 0px rgba(0,0,0,0.75);
}

.step__list li a:hover{
    background-color: #fff;
    color: #e12a4c; 
    border: 1px solid #fff;  
}

/*===============CONTACT FORM==================*/

.form__title{
    margin-top: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.formulario__membresia{
    margin: 50px  100px;
}

.grupo__usuario{
    margin-bottom: 20px;
    font-weight: bold;
}

.grupo__usuario input{
    border-radius: 5px;
    border: 1px solid #111;
    height: 30px;
    line-height: 30px;
}

.titulo__grupo{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    background: #e12a4c;
    color: #fff;
    height: 45px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    margin-bottom: 12px;
    /* margin-top: 12px; */
}

.input__datos-juridico,
.input__datos-natural{
    width: 340px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #111;
    height: 30px;
    line-height: 30px;
}

.input__datos-ruc{
    border-radius: 5px;
    border: 1px solid #111;
    height: 30px;
    line-height: 30px;
}

.grupo__datos,
.grupo__indetificacion,
.grupo__patrocinador{
    /* border: 1px solid #111; */
    border-radius: 12px;
    margin: 20px 20px;
    display: block;
    align-content: center;
    /* border-radius: 50px;
    background: #e0e0e0;
    box-shadow: inset -20px -20px 60px #bebebe,
            inset 20px 20px 60px #ffffff; */

    /* border-radius: 32px;
       background: #e0e0e0;
       box-shadow:  24px 24px 48px #9f9f9f,
                    -24px -24px 48px #ffffff; */

    border-radius: 32px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  24px 24px 48px #9f9f9f,
                -24px -24px 48px #ffffff;

}


.grupo__datos-juridico,
.grupo__datos-natural{
    padding: 20px 30px;
}

.grupo__datos-juridico {
    display: flex;
    justify-content: space-around;
}

.grupo__datos-natural{
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 66%;
}

.grupo__identificacion-nombre,
.grupo__identificacion-tipoId{
    padding: 10px 30px;
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.grupo__identificacion-nombre .input__datos{
    border-radius: 5px;
    border: 1px solid #111;
    height: 30px;
    line-height: 30px;
}

.grupo__identificacion-tipoId .input__title,
.grupo__identificacion-cuenta .input__title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.input__title .num__identificacion,
.input__title .num__cuenta{
    width: 205px;
}

.nacimiento{
    width: 180px;
}

.grupo__identificacion-direccion{
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    margin: 10px 35px;
    align-items: center;
}

.nacimiento,
.provincia,
.ciudad,
.direccion,
.celular,
.telefono,
.email,
.tipo__identificacion,
.num__identificacion{
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #111;
    height: 30px;
    line-height: 30px;
}

.grupo__identificacion-radioMail{
    padding: 10px 30px;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    margin: 10px 35px;
    align-items: center;
}

.grupo__identificacion-radioMail p{
    font-weight: 800;
}

.grupo__identificacion-cuenta{
    padding: 10px 30px;
    /* width: 100%; */
    display: flex;
    justify-content: space-evenly;
    margin: 10px 40px;
    align-items: center;
    padding-bottom: 30px;
}

.tipo__cuenta,
.num__cuenta,
.cta__banco{
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #111;
    height: 30px;
    line-height: 30px;
}

.grupo__patrocinador-nombre,
.grupo__patrocinador-contacto{
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    margin: 10px 35px;
    padding-bottom: 30px;
}


.patrocinador__paterno,
.patrocinador__materno,
.nombre__patrocinador,
.celular__patrocinador,
.telefono__patrocinador,
.codigo__patrocinador,
.fecha__solicitud{
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #111;
    height: 30px;
    line-height: 30px;
}

.btn__container{
    display: flex;
    justify-content: center;
}

.btn{
    font-size: 1em;
    color:#fff;
    background: #e12a4c;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: .3s;
    box-shadow: 7px 6px 14px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.07);
}


/*DESACTIVA SPINNERS DE LOS INPUT NUMBER*/
input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}

input[type=number] {

    -moz-appearance:textfield;

}

footer .footer_div h2{
    color: #fff;
}

.wsp-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
}

.btn_wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    box-shadow: -1px 6px 14px 0px rgba(0,0,0,0.75);
    transition: .3s;
}

.btn_wsp:hover{
    background:#fff;
    color: #0df053;
    transform: translateY(-10px);
}



/*=======================MEDIA QUERIES=======================*/

@media (max-width: 991px){
    header,
    header.sticky{
        padding: 10px 20px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li{
        margin-left: 0;
    }
    header .navigation li a{
        color: #111;
        font-size: 1.6em;
    }

    header.sticky .menuToggle{
        filter: invert(1);
    }
    section {
        padding: 20px;
    }

    .formulario__membresia{
       margin: 50px 0;
    }

	.grupo__datos,
    .grupo__indetificacion,
    .grupo__patrocinador{
        margin-left: 0;
        margin-right: 0;
    }

    .grupo__datos-juridico,
    .grupo__datos-natural,
    .grupo__identificacion-nombre,
    .grupo__identificacion-tipoId,
    .grupo__identificacion-direccion,
    .grupo__identificacion-radioMail,
    .grupo__identificacion-cuenta,
    .grupo__patrocinador-nombre,
    .grupo__patrocinador-contacto{
        display: flex;
        flex-direction: column;
        margin: 20px 20px;
        flex-wrap: wrap;
        /* background: #0df053; */
    }

    .grupo__datos-juridico,
    .grupo__datos-natural{
        padding: 0px 30px;
        margin-bottom: 0;
        margin-top: 0;
    }

    .input__title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .input__title .input__lenght{
        width: 340px;
        margin: auto;
    }

    .grupo__datos-natural{
        width: 88%;
        padding-bottom: 20px;
    }
}

@media (max-width: 414px){
    .input__title .input__lenght{
        width: 280px;
        margin: auto;
    }
}

@media (max-width: 393px){
    .input__title .input__lenght{
        width: 250px;
        margin: auto;
    }
}


@media (max-width: 375px){
    .input__title .input__lenght{
        width: 230px;
        margin: auto;
    }
}

@media (max-width: 320px){
    .input__title .input__lenght{
        width: 195px;
        margin: auto;
    }
}

/*=============FOOTER STYLE=============*/
footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.9);
}

.footer_div{
    position: relative;
    width: 100%;
    background: #fff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer_div .social_icon,
.footer_div .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .footer_div h2{
    color: #111;
}

.footer_div .social_icon li,
.footer_div .menu li{
    list-style: none;
}

.footer_div .social_icon li i{
    font-size: 2.5em;
    color: #111;
    margin: 0 10px;
    display: inline-block;
    transition: .5s;
}

.footer_div .social_icon li i:hover{
    transform: translateY(-10px);
    color: #e12a4c;
}

.footer_div .menu li a{
    font-size: 1em;
    color:#111;
    margin: 0 10px;
    display: inline-block;
    transition: .3s;
    text-decoration: none;
    opacity: 0.75;
    line-height: 2.5em;
}


.footer_div .menu li a:hover{
    opacity: 1;
    transform: translateY(-10px);
    color: #e12a4c;
}

.footer_div .menu li a i{
    font-size: 2em;
    color: #111;
    margin: 0 10px;
    display: inline-block;
    transition: .3s;
}

.footer_div .menu li a i:hover{
    transform: translateY(-10px);
    color: #ff0157;
}
footer .footer_div p{
    color: #111;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 15px;
}

footer .terminos{
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
